/notebooks/.ipynb_checkpoints/
/.idea/
indexing_checkpoint.json
notebooks/.env
notebooks/test.ipynb
notebooks/test.py
cuad_opensearch/data/
cuad_data/
s3_utils/cuad_data/
cuad_opensearch/.env
cuad_opensearch/pdf_indexing_checkpoint.json
.gitignore
cuad_opensearch/__pycache__/__init__.cpython-312.pyc
cuad_opensearch/api/__pycache__/main.cpython-312.pyc
cuad_opensearch/notebooks/03_hybrid_search.py
cuad_opensearch/notebooks/delete.py
cuad_opensearch/notebooks/json
cuad_opensearch/notebooks/json.json
cuad_opensearch/notebooks/__pycache__/03_hybrid_search.cpython-312.pyc
cuad_opensearch/notebooks/__pycache__/cuad_dataset_utils.cpython-312.pyc
cuad_opensearch/notebooks/__pycache__/cuad_download_utils.cpython-312.pyc
cuad_opensearch/notebooks/__pycache__/hybrid_search.cpython-312.pyc
cuad_opensearch/notebooks/__pycache__/open_search_connect.cpython-312.pyc
cuad_opensearch/notebooks/__pycache__/test_hybrid_search.cpython-312-pytest-9.0.2.pyc
cuad_opensearch/notebooks/__pycache__/test_split_offsets.cpython-312.pyc
notebooks/__pycache__/open_search_connect.cpython-312.pyc
s3_utils/__pycache__/__init__.cpython-312.pyc
s3_utils/__pycache__/connect_s3.cpython-312.pyc
