version: "3.9"

services:
  jupyter:
    build: .
    image: run-jupyter-image 
    container_name: run-jupyter-container 
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/workspace
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --allow-root
      --ServerApp.token=''
      --ServerApp.password=''
    restart: unless-stopped
